* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
}
section {
  width: 100%;
  min-height: 90vh;
  padding: 60px 20px;
}
.container {
  padding: 1rem 6rem;
}

.content p{
  font-size: clamp(0.4rem,0.2rem + 9vw, 1rem);
  margin: 10px 0;
} 
.social-links a{
  text-decoration: none;
  color: white;
 
}
.social-links i{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color:  transparent;
  border: 0.2rem solid rgb(255, 255, 255);
  margin: 5px 15px;
  font-size: 1.5rem;
  transition: 0.2s linear;
}
.social-links i:hover{
  scale: 1.3;
  color: black;
  background-color: yellowgreen;
  filter: drop-shadow(0 0 10px yellowgreen);
}

.content button{
 width: 50%;
 height: 6;
 margin: 10px;
 background-color: yellowgreen;
 border:none;
 outline:none;
 font-size:120%;
 color: white;
 font-weight: 700;
 border-radius: 5px;
 transition: 0.2s linear;
}  

.content button:hover{
  scale:1.1;
  color:yellowgreen;
  border: 2px solid yellowgreen;
  background-color: transparent;
  font-weight: 700;
  box-shadow: 0 0 40px yellowgreen;
}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
  height: 10vh;
  z-index: 9999;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo img {
  height: 100%;
  width: 75px;
}

header .logo a {
  color: yellowgreen;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

header nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: 0.3s linear;
}

header nav a::after {
  content: "";
  display: block;
  border-bottom: 1px solid yellowgreen;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s linear;
}

header nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s linear;
}

header .extra-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

header .extra-nav button {
  cursor: pointer;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
  color: yellowgreen;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 12px;
  transition: 0.3s linear;
}

header .extra-nav button:hover {
  background: #fff;
  color: #000;
  transition: 0.3s linear;
}

header .hamburger-menu {
  cursor: pointer;
  display: none;
}

header .mobile-nav {
  display: none;
}

.main-container {
  display: flex;
  justify-content: space-around;
  margin-left: 200px;
  margin-top: 100px;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.main-container .image {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 25px orangered;
  transition: transform 0.3s ease-in-out;
}

.main-container .image:hover {
  animation: glowScale 1.5s ease-in-out infinite;
}

.main-container .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes glowScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 30px orangered, 0 0 50px orangered;
  }
  100% {
    transform: scale(1);
  }
}

.main-container .content{
  color: white;
  width: 40%;

}
content h1{
  font-size: clamp(1rem,1rem + 5vw, 1.8rem);
}
.content h1 span{
  color: orangered;
  text-shadow: 0 0 10px orangered;
}

.content .typewriter{
  font-size: clamp(1rem,1rem + 5vw, 2.5rem);
  font-weight: 600; 
}
.content .typewriter-text{
  color: orangered;
  text-shadow: 0 0 10px orangered;
}
.content .typewriter .typewriter-text{
 font-size: 34px;
 font-weight: 600;
 min-width: 280px;
}

.content .typewriter .typewriter-text span{
  position: relative;
}
.content .typewriter .typewriter-text span::before{
  content: "";
  color: orangered;
  animation:words 20s infinite;
}
.content .typewriter .typewriter-text span::after{
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid orangered;
  right: -8px;
  animation: cursor 0.6s infinite;
}
@keyframes cursor{
  to{
      border-left: 3px solid orangered;
  }
}
.content button{
  width: 50%;
  height: 6;
  margin: 10px;
  background-color: orangered;
  border:none;
  outline:none;
  font-size:120%;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  transition: 0.2s linear;
}  

.content button:hover{
   scale:1.1;
   color:orangered;
   border: 2px solid orangered;
   background-color: transparent;
   font-weight: 700;
   box-shadow: 0 0 40px orangered;
}

@keyframes words{
  0%, 20%{
      content: "Web Developer";
  }
  20%,40%{
      content: "Web Designer";
  }
  40%,60%{
      content: "UI/UX Designer";
  }
  60%,80%{
      content: "Graphic Designer";
  }
  80%,100%{
      content: "Software Engineer";
  }
}

.about {
  min-height: 100vh;
  padding: 3rem 0;
}

.about .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.about .container .content .about-me {
  display: flex;
  gap: 12px;
}

.about .container .content .about-me .profile {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .container .content .about-me .profile .image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #191919;
  border-radius: 16px;
  width: 75%;
  height: 75vh;
}

.about .container .content .about-me .profile .image-box img {
  width: 70%;
}

.about .container .content .about-me .description {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about .container .content .about-me .description .name-role {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about .container .content .about-me .description .name-role h1 {
  font-weight: bold;
  font-size: 3rem;
}

.about .container .content .about-me .description .name-role .role {
  width: 100%;
  display: flex;
}

.about .container .content .about-me .description .name-role .role h2 {
  font-weight: 500;
  font-size: 2rem;
  padding: 4px 6px;
  background-color: #fff;
  border-radius: 8px;
  color: #000;
}

.about .container .content .about-me .description p {
  font-size: 1.2rem;
  text-align: justify;
}

.skill,
.project,
.contact {
  padding: 3rem 0;
  width: 100%;
}

.skill .container .content,
.project .container .content,
.contact .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  width: 100%;
}

.skill .container .content .skills {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 50%;
}


.skill .container .content .skills .skill-box {
  padding: 4px;
  border: 2px solid yellowgreen;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  filter: grayscale(100);
  transition: filter 0.2s linear, transform 0.2s linear, box-shadow 0.3s ease; /* added box-shadow transition */
}

.skill .container .content .skills .skill-box:hover {
  filter: grayscale(0);
  transform: scale(1.02);
  box-shadow: 0 0 40px yellowgreen; /* Moved here */
  transition: all 0.2s linear;
}

.skill .container .content .skills .skill-box img {
  width: 100%;
  height: 75%;
}


.project .container .content .projects {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 85%;
}

.project .container .content .projects .card {
  padding: 16px;
  border: 2px solid #fff;
  border-radius: 12px;
  height: 450px;
}

.project .container .content .projects .card img {
  width: 100%;
  height: 50%;
}

.project .container .content .projects .card .description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 50%;
}

.project .container .content .projects .card .description h1 {
  font-weight: bold;
  font-size: 28px;
}

.project .container .content .projects .card .description p {
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
}


.contact .container .content .contact-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  width: 50%;
  border: 4px solid #fff;
  border-radius: 20px;
}

.contact .container .content .contact-form .input {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
}

.contact .container .content .contact-form .input input {
  width: 49%;
  padding: 12px;
  background: transparent;
  border: 3px solid #fff;
  border-radius: 8px;
  color: #fff;
}

.contact .container .content .contact-form .input input:focus {
  outline: none;
}

.contact .container .content .contact-form textarea {
  resize: none;
  padding: 12px;
  height: 300px;
  background: transparent;
  border: 3px solid #fff;
  border-radius: 8px;
  color: #fff;
}

.contact .container .content .contact-form textarea:focus {
  outline: none;
}

footer {
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 2px solid #fff;
}

footer .container {
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 4rem;
}

footer .container .profile {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 25%;
}

footer .container .link-container {
  width: 70%;
  display: flex;
  gap: 4rem;
}

footer .container .link-container .information,
footer .container .link-container .resource,
footer .container .link-container .navigation {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 30%;
}

footer .container .profile .logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

footer .container .profile .logo img {
  width: 50px;
  height: 50px;
}

footer .container .profile .logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

footer .container .profile p {
  font-weight: 400;
  margin-bottom: 8px;
}

footer .container .profile .social-media-container {
  display: flex;
  gap: 8px;
}

footer .container .profile .social-media-container .social-media {
  cursor: pointer;
  width: 35px;
  height: 35px;
  padding: 6px;
  border-radius: 50%;
  background-color: #191919;
  transition: transform 1s linear;
}

footer .container .profile .social-media-container .social-media:hover {
  transform: rotateY(360deg);
}

footer .container .link-container .information h1,
footer .container .link-container .resource h1,
footer .container .link-container .navigation h1 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
}

footer .container .link-container .information ul,
footer .container .link-container .resource ul,
footer .container .link-container .navigation ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .container .link-container .information ul li,
footer .container .link-container .resource ul li,
footer .container .link-container .navigation ul li {
  cursor: pointer;
}

footer .container .link-container .information ul li::after,
footer .container .link-container .resource ul li::after,
footer .container .link-container .navigation ul li::after {
  content: "";
  display: block;
  border-bottom: 3px solid #fff;
  width: 40%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s linear;
  margin-top: 4px;
}

footer .container .link-container .information ul li:hover::after,
footer .container .link-container .resource ul li:hover::after,
footer .container .link-container .navigation ul li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.6s linear;
}

footer .container .link-container .information ul li a,
footer .container .link-container .resource ul li a,
footer .container .link-container .navigation ul li a {
  color: #fff;
  text-decoration: none;
}

@keyframes stroke {
  0% {
    stroke: white;
    stroke-width: 0;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
  }
  70% {
    stroke: white;
  }
  80% {
    stroke: white;
    stroke-width: 3;
  }
  100% {
    stroke: white;
    stroke-width: 0;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
  }
}

@media screen and (max-width: 1536px) {
  footer .container {
    gap: 2rem;
  }
  footer .container .link-container {
    gap: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  header nav,
  header .extra-nav {
    display: none;
  }

  header .hamburger-menu {
    display: block;
  }

  header .mobile-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    height: 100vh;
    background-color: #000;
    z-index: 999;
    transition: all 0.2s linear;
  }

  header .mobile-nav.show {
    transform: translateY(0);
    transition: all 0.2s linear;
  }

  header .mobile-nav .close {
    position: absolute;
    top: 24px;
    right: 16px;
    display: flex;
    justify-content: end;
    width: 100%;
  }

  header .mobile-nav .close svg {
    cursor: pointer;
    width: 35px;
    height: 35px;
  }

  header .mobile-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
  }

  header .mobile-nav ul li {
    cursor: pointer;
    position: relative;
    list-style: none;
    width: 25%;
  }

  header .mobile-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 36px;
    transition: 0.3s linear;
  }

  header .mobile-nav ul li .nav-link::after {
    content: "";
    display: block;
    border-bottom: 1px solid #fff;
    width: 0%;
    transition: 0.3s linear;
  }

  header .mobile-nav ul li:hover .nav-link::after {
    width: 100%;
    transition: 0.3s linear;
  }

  footer .container .link-container .information ul li::after,
  footer .container .link-container .resource ul li::after,
  footer .container .link-container .navigation ul li::after {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  header .mobile-nav ul li {
    width: 35%;
  }

  footer .container {
    padding: 1rem 2rem;
  }
  footer .container .profile {
    width: 50%;
  }
  footer .container .link-container {
    flex-direction: column;
    width: 100%;
  }

  footer .container .link-container .information ul li::after,
  footer .container .link-container .resource ul li::after,
  footer .container .link-container .navigation ul li::after {
    width: 100%;
  }
}

@media screen and (max-width: 610px) {
  footer .container .profile,
  footer .container .link-container {
    width: 100%;
  }

  footer .container .link-container .information,
  footer .container .link-container .resource,
  footer .container .link-container .navigation {
    width: 30%;
  }
}

@media screen and (max-width: 450px) {
  header .mobile-nav ul li {
    width: 50%;
  }

  footer .container .link-container .information,
  footer .container .link-container .resource,
  footer .container .link-container .navigation {
    width: 50%;
  }
}